$green:#1CAA98;


body {
  padding-top: 50px;
}

a.navbar-brand.branding {
  color: $green;
}

.branding {
  color: $green;
}

.jumbotron {
  background: url("../img/site_showcase_bg.jpg");
  height: 592px;
  .container {
    h1 {
      color: white;
      margin: 80px 0;
    }
  }
}

.banner-icons {
  width: 40%;
  margin-right: 20px;
}
